/* ------------------------------ Footer General ------------------------------ */
.footer {
    background-color: #efddd1;
  padding: 1%;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.redes{
  background-color: #efddd1;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* ------------------------------ Fin Footer's ------------------------------ */