/* ------------------------------ Header Index ------------------------------ */

.Gatips {
    color: black;
    font-size: 2rem;
    background-color: #efddd1;
    border: 1px black solid;
    display: flex;
    justify-content: center;
}

.Inicio {
    color: black;
    font-size: 1rem;
    background-color: #efddd1;
    border: 1px black solid;
    display: flex;
    justify-content: space-around;
    list-style: none;
}


/* ----------------------------- Header Cuidados ---------------------------- */

.cuidadosheader {
    color: black;
    font-size: 2rem;
    background-color: #efddd1;
    border: 1px black solid;
    display: flex;
    justify-content: center;
}


/* --------------------------- Header Alimentacion -------------------------- */


.alimentacionheader {
    color: black;
    font-size: 2rem;
    background-color: #efddd1;
    border: 1px black solid;
    display: flex;
    justify-content: center;
}


/* ----------------------------- Header Adopcion ---------------------------- */


.adopcionheader {
    color: black;
    font-size: 2rem;
    background-color: #efddd1;
    border: 1px black solid;
    display: flex;
    justify-content: center;
}


/* -------------------------- Header Entrenamiento -------------------------- */


.entrenamientoheader {
    color: black;
    font-size: 2rem;
    background-color: #efddd1;
    border: 1px black solid;
    display: flex;
    justify-content: center;
}


/* ----------------------------- Header Contacto ---------------------------- */


.contactotitulo {
    background-color: #efddd1;
    font-size: 25px;
}

/* ------------------------------ Fin Header's ------------------------------ */